/*@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    max-height: 768px;
  }
  .yellow-text {
    width: 100%;
  }
  .yellow-block {
    font-size: 45px;
    font-weight: 700;
  }
  .mouses {
    max-width: 439px;
    max-height: 350px;
  }
}*/

@media (max-width:1680px){
  .container{
    max-width: 1680px;
    max-height: 1050px;
  }
}

@media (max-width:1679px){
  .container{
    max-width: 1440px;
    max-height: 900px;
  }
}

@media (max-width:1439px){
  .container{
    max-width: 1366px;
    max-height: 768px;
  }
}

@media (max-width:1365px){
  .container{
    max-width: 1280px;
    max-height: 800px;
  }
}

@media (max-width:1279px){
  .container{
    max-width: 1024px;
    max-height: 768px;
  }
}

@media (max-width:1023px){
  .container{
    max-width: 768px;
    max-height: 1024px;
  }
  .how-much{
    font-size: 55px;
  }
  .yellow-track{
    font-size: 35px;
  }
  .mouse-dance{
    font-size: 25px;
  }
  .mouses-hole-2 {
      left: 8.5%;
  }
  .mouses-hole-3 {
      left: 70.6%;
      top: 13px;
  }
  .mouses-hole-4 {
      left: 40%;
      top: -300px;
  }
  .mouses-hole-5 {
      left: 72.6%;
      top: -320px;
  }
  .disco{
    transform: rotate(-90deg);
    height: 42.2vw;
  }
  .disco-disk {
    position: absolute;
    left: 108%;
    top: 10%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: disco-rotate 12s linear infinite;
  }
  .zigzag {
    position: absolute;
    bottom: 40px;
    left: 30%;
    top: 30%;
    width: 78%;
    height: 78vw;
    background-image: url(../images/cheese-line.svg);
    background-size: 120%;
    background-position-x: -10%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
  .mouse1{
      position: relative;
      width: 40px;
      top: 110px;
      left: 15%;
      transform: rotate(180deg);
      animation: mousemove 12s linear infinite; 
  }
  .mouse2{
      margin-left: -30%;
      position: relative;
      width: 40px;
      top: 110px;
      left: 15%;
      transform: rotate(180deg);
      animation: mousemove 12s linear infinite; 
      animation-delay: 6s;
  }
}

@media (max-width:767px){
  .container{
    max-width: 320px;
    min-height: 2272px;
    grid-template-columns: 100%;
  }
  @keyframes marquee-y {
    from { transform: translateX(0); }
    to   { transform: translateX(-33.3%); }
  }
  @keyframes marquee-y-md {
      from { transform: translateX(0); }
      to   { transform: translateX(-25%); }
  }
  @keyframes marquee-y-hm {
      from { transform: translateX(0); }
      to   { transform: translateX(-33.3%); }
  }
  .yellow-track{
    font-size: 35px;
    writing-mode: horizontal-tb;
    height: 45px;
  }
  .yellow-block{
    height: 75px;
  }
  .yellow{
    background-color: #FFEE00;
  }
  .how-much{
    font-size: 65px;
    writing-mode: horizontal-tb;
    background-color: #FFEE00;
    height: 125px;
    position: relative;
    top: 15px;
  }
  .lamp-wrap{
    position: relative;
    top: -110px;
  }
  .mouse-dance{
    position: relative;
    font-size: 45px;
    writing-mode: horizontal-tb;
    top: 615px;
  }
  .line-track{
    writing-mode: horizontal-tb;
  }
  .blue-line{
    position: relative;
    top: -40px;
  }
  .mouses{
    position: relative;
    top: -570px;
  }
  .mouses-hole-2 {
      left: 8.5%;
  }
  .mouses-hole-3 {
      left: 70.6%;
      top: 13px;
  }
  .mouses-hole-4 {
      left: 40%;
      top: -300px;
  }
  .mouses-hole-5 {
      left: 72.6%;
      top: -320px;
  }
  .disco{
    transform: rotate(-90deg);
    height: 100vw;
    width: 100%;
    position: relative;
    top: 690px;
    left: -150px;
  }
  .disco-disk {
    position: absolute;
    left: 108%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    animation: disco-rotate 12s linear infinite;
  }
  .zigzag {
    position: absolute;
    bottom: 40px;
    left: 30%;
    top: 10%;
    width: 78%;
    height: 78vw;
    background-image: url(../images/cheese-line.svg);
    background-size: 80%;
    background-position-x: 40%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
  .mouse1{
      position: relative;
      width: 40px;
      top: 110px;
      left: 15%;
      transform: rotate(180deg);
      animation: mousemove 12s linear infinite; 
  }
  .mouse2{
      margin-left: -30%;
      position: relative;
      width: 40px;
      top: 110px;
      left: -25%;
      transform: rotate(180deg);
      animation: mousemove 12s linear infinite; 
      animation-delay: 6s;
  }
  .cheeses{
    position: relative;
    top: -50px;
  }
}
